{% extends 'base.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block body %}
    {% include '_header_rss_links.html.twig' %}

    <div class="example-wrapper">
        {% if latestShow %}
            <div class="latest-episode-container">
                <iframe src="{{ latestShow.link | replace({'https://anchor.fm/howtocodewell/episodes/': 'https://anchor.fm/howtocodewell/embed/episodes/'}) }}"
                        height="110px" width="750px" frameborder="0" scrolling="no" class="player"></iframe>
            </div>
        {% endif %}
        <h1>Episodes</h1>
        {% for show in shows %}
            <div class="list">
                <div class="list-item">
                    <h3><a href="{{ path('show', { show: show.showNumber }) }}">{{ show.title }}</a></h3>
                    <p>{{ show.publishedDate | date('F jS, Y') }} | {{ show.duration |date('H:i:s', '+00:00 GMT') }}</p>
                </div>
            </div>
        {% endfor %}
        <a href="{{ path('archive', {'page': 2}) }}">View more</a>
    </div>
{% endblock %}
