{% extends "default" %}
{% block title %} {{  site.meta.title }} - {{ page.title }}{% endblock %}

{%  block head_meta_twitter_cards %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:creator" content="@pfwd">
    <meta name="twitter:site" content="@howtocodewell">
    <meta name="twitter:title" content="{{ page.meta.title | default(site.meta.title) }}">
    <meta name="twitter:description" content="{{ page.meta.description | default(site.meta.description) }}">
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.youtubeId }}">
    <meta name="twitter:player:width" content="480">
    <meta name="twitter:player:height" content="480">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ page.youtubeId }}/maxresdefault.jpg">
    <meta name="twitter:image:alt" content="How To Code Well - Weekly podcast for web developers">
{%  endblock %}
{%  block head_meta_facebook_og %}
    <meta property="og:url" content="http://howtocodewell.fm{{page.url | default ('') }}">
    <meta property="og:title" content="{{ page.meta.title | default(site.meta.title) }}">
    <meta property="og:description" content="{{ page.meta.description | default(site.meta.description) }}">
    <meta property="og:type" content="video">
    <meta property="og:image" content="http:///i.ytimg.com/vi/{{ page.youtubeId }}/maxresdefault.jpg">
    <meta property="og:video" content="http://www.youtube.com/v/{{ page.youtubeId }}">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="398">
    <meta property="og:video:height" content="264">
    <meta property="og:site_name" content="How To Code Well FM">
{%  endblock %}

{% block content_wrapper %}
    <main class="main">
      <h1>{{ page.title }}</h1>
        Published: {{ page.date | date('jS F Y')  }}
        {% include "youtubePlayer.html.twig" with { id:page.youtubeId } %}

        {{ page.guest }}

        {% include 'twitter_profile_img.html' with { handle: page.twitter_handle, alt_text: page.guest, profile_img: page.profile_img }%}

        {{ page.blocks.content|raw }}

        {% include "podcastPlayer.html.twig" with { id: page.podcast_id } %}
        <hr/>
        {% include "postLinks.html.twig" %}
    </main>
{% endblock %}
