{% extends "default" %}
{% block title %} {{ site.meta.title }} - {{ page.title }}{% endblock %}

{% block head_meta_twitter_cards %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:creator" content="@pfwd">
    <meta name="twitter:site" content="@howtocodewell">
    <meta name="twitter:title" content="{{ page.meta.title | default(site.meta.title) }}">
    <meta name="twitter:description" content="{{ page.meta.description | default(site.meta.description) }}">
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.youtubeId }}">
    <meta name="twitter:player:width" content="480">
    <meta name="twitter:player:height" content="480">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ page.youtubeId }}/maxresdefault.jpg">
    <meta name="twitter:image:alt" content="How To Code Well - Weekly podcast for web developers">
{% endblock %}
{% block head_meta_facebook_og %}
    <meta property="og:url" content="https://howtocodewell.fm{{ page.url | default ('') }}">
    <meta property="og:title" content="{{ page.meta.title | default(site.meta.title) }}">
    <meta property="og:description" content="{{ page.meta.description | default(site.meta.description) }}">
    <meta property="og:type" content="video">
    <meta property="og:image" content="https://i.ytimg.com/vi/{{ page.youtubeId }}/maxresdefault.jpg">
    <meta property="og:video" content="https://www.youtube.com/v/{{ page.youtubeId }}">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="398">
    <meta property="og:video:height" content="264">
    <meta property="og:site_name" content="How To Code Well FM">
{% endblock %}

{% block content_wrapper %}
    <main class="main">
        <div class="main-contents">
            <h1>{{ page.title }}</h1>

            Published: {{ page.date | date('jS F Y') }}

            <div class="player-container">
                <div class="guest-container">
                    <div class="profile">
                        {% set twitter_img = 'twitter/' ~ page.guests_twitter ~ '.jpg' %}
                        {% include 'twitter_profile_img.html' with { handle: page.guests_twitter, alt_text: page.guest, profile_img: twitter_img } %}
                    </div>
                    <h4>{{ page.guest }}</h4>
                </div>
                <div class="podcast-player-container">
                    {% include "podcastPlayer.html.twig" with { id: page.podcast_id } %}
                </div>
            </div>


            {% include "share.html.twig" %}
            {% include "post_menu.html.twig" %}
            {{ page.blocks.content|raw }}
            {% include "youtubePlayer.html.twig" with { id:page.youtubeId } %}
            {% include "postLinks.html.twig" %}

            {% include "follow_howtocodewell.html.twig" %}
            <h2><a class="anchor" name="transcript">Transcript</a></h2>
            {% if  page.transcript is not empty %}
                {% set transcript %}
                    {% include "transcriptions/#{page.transcript}" %}
                {% endset %}
                {{ transcript | markdown }}
                {% include "follow_howtocodewell.html.twig" %}
            {% else %}
                <p>Transcript coming soon</p>
            {% endif %}


        </div>
    </main>
{% endblock %}
