<!DOCTYPE html>
<html>
<head>
    {% include '_meta.html.twig' %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header id="pageHeader">
    <h1 class="logo"><a href="{{ path('home') }}">How To Code Well Podcast</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('archive', {'page': 1}) }}">Episodes</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
        <div class="nav__icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
<article id="mainArticle">{% block body %}{% endblock %}</article>
<footer id="pageFooter"></footer>

</body>
</html>
